<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="connectionString"
         connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=D:\test.mdb;User Id=admin;Password=;"
         providerName="System.Data.OleDb"/>
  </connectionStrings>
</configuration>